Library/XML/Documents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.library/catalog"
           targetNamespace="http://www.library/catalog"
           elementFormDefault="qualified">
  <!--Documents-->
  <xs:element name="CatalogContent">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="Documents">
          <xs:complexType>
            <xs:all minOccurs="0">
              <xs:element ref="Book"/>
              <xs:element ref="Newspaper"/>
              <xs:element ref="Patent"/>
            </xs:all>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--Book-->
  <xs:element name="Book">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="PagesCount" type="xs:int"/>
        <xs:element name="Annotation" type="xs:string"/>
        <xs:element name="PublicationDate" type="xs:dateTime"/>
        <xs:element name="PlaceOfPublication" type="xs:string"/>
        <xs:element name="Publisher" type="xs:string"/>
        <xs:element name="Authors">
          <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element ref="Person"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="ISBN" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--Newspaper-->
  <xs:element name="Newspaper">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="PagesCount" type="xs:int"/>
        <xs:element name="PublicationDate" type="xs:dateTime"/>
        <xs:element name="PlaceOfPublication" type="xs:string"/>
        <xs:element name="Publisher" type="xs:string"/>
        <xs:element name="Number" type="xs:int"/>
        <xs:element name="ISSN" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--Patent-->
  <xs:element name="Patent">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Name" type="xs:string"/>
        <xs:element name="PagesCount" type="xs:int"/>
        <xs:element name="PublicationDate" type="xs:dateTime"/>
        <xs:element name="Inventors">
          <xs:complexType>
            <xs:sequence minOccurs="1">
              <xs:element ref="Person"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element name="Country" type="xs:string"/>
        <xs:element name="ApplicationDate" type="xs:dateTime"/>
        <xs:element name="RegistrationNumber" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <!--Person-->
  <xs:element name="Person">
    <xs:complexType>
      <xs:sequence minOccurs="1" maxOccurs="1">
        <xs:element name="FirstName" type="xs:string"/>
        <xs:element name="LastName" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
